{
  "presets": [
    [
      "@babel/preset-env",
      {
        // targets is needed, otherwise when we run in node, it will infinitely print source code...
        targets: {
          esmodules: true,
          node: true,
        },
      },
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
